<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<style>
  /* Tamaño de letra para todo el cuerpo del texto */
  body {
    font-size: 20px; /* El estándar es 15px, puedes probar con 16 o 17 */
  }

  /* Tamaño de los títulos de los posts en las listas */
  .archive__item-title {
    font-size: 1.25em !important; 
  }

  /* Tamaño del texto en la biografía del autor (barra lateral) */
  .author__bio {
    font-size: 0.9em;
  }
</style>