<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<style>
  /* Reducir tamaño de la fuente general (el texto de presentación) */
  body, .archive { 
    font-size: 25px !important; 
  }
  
  /* Achicar los títulos de los proyectos */
  .archive__item-title { 
    font-size: 1.15em !important; 
    margin-bottom: 5px; 
  }
  
  /* Achicar el texto debajo de cada proyecto */
  .archive__item-excerpt p { 
    font-size: 0.85em !important; 
    margin-top: 0;
  }
</style>